@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=cyrillic,cyrillic-ext');

* {
    margin: 0;
    padding: 0;
}
body{
    background-color: cornsilk;
}

.container{
    max-width: 960px;
    min-width: 480px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.header{
    background: linear-gradient(rgb(70,70,70), rgb(120,120,120));
    width: 100%;
    text-align: center;
    height: 100px;
    padding: 20px 0;
}

.title{
    font-family: Audiowide, sans-serif;
    color: ghostwhite;
    font-size: 60px;
    text-decoration: none;
}

.menu{
    display: flex;
    justify-content: center;
}

.menu a{
    text-decoration: none;
    padding: 5px 10px;
    color: ghostwhite;
    font-family: "Roboto Slab", sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    transition:  .4s linear;
}
.menu .active{
    border-collapse: collapse;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: inset 0 2px 10px 1px rgba(0,0,0,.3), inset 0 0 0 60px rgba(0,0,0,.3), 0 1px rgba(255,255,255,.08);
}

.whiteline{
    border: ridge 1px ghostwhite;
}

.menu a:hover{
    box-shadow: inset 0 1px 3px 1px  rgba(0,0,0,.5), inset 0 0 0 60px rgba(0,0,0,0), 0 1px rgba(255,255,255,.08);
}

main{
    flex: 1 0 auto;
    background-color: sienna;
}

.task_header{
    height: 30px;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    color: ghostwhite;
    text-align: center;
    padding: 10px;
}

.task_header .state{
    width: 100px;
}

.task_header .empty{
    width: 300px;
}
.task_block{
    padding: 5px;
    background: linear-gradient(rgb(70,70,70), rgb(120,120,120));
}

.task_row{
    position: relative;
    display: flex;
    justify-content: flex-end;
    border-radius: 5px;
    margin: 5px 5px 10px 5px;
}

.task_task{
    display: flex;
    flex-grow: 1;
    word-wrap: break-word;
    padding: 5px;
    background-color: ghostwhite;
    border-radius: 6px;
    vertical-align: middle;

}

.task_task:read-only{
    background-color: lightgray;
}

.task_task p{
    margin: auto 0;
}

.task_button, .task_button_save{
    width: 102px;
    min-width: 102px;
    height: 80px;
    min-height: 52px;
    text-align: center;
    border-radius: 6px;
    border: none;
    background-color: transparent;
    text-decoration: none;
    font-family: "Roboto Slab", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
    color: ghostwhite;
    transition:  .3s linear;
}

.task_button img{
    height: 36px;
    display: inline-block;
}

.task_button_save{
    background: linear-gradient(rgb(70,70,70), rgb(120,120,120));
}
.task_button_edit{
    width: 102px;
    min-width: 102px;
    height: 80px;
    min-height: 80px;
    text-align: center;
    border-radius: 6px;
    text-decoration: none;
    font-family: "Roboto Slab", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
    color: ghostwhite;
    position: relative;
    transition:  .4s linear;
}

.task_button_edit_text{
    height: 100%;
    line-height: 80px;
    transition:  .3s linear;
}

.task_button_edit_text:hover,
.task_button:hover,
.task_button_save:hover{
    box-shadow: inset 0 1px 10px 5px  rgba(0,0,0,.5), inset 0 0 0 60px rgba(0,0,0,0), 0 1px rgba(255,255,255,.08);
}

.task_button_edit_text:active,
.task_button:active,
.task_button_save:active{
    box-shadow: inset 0 1px 10px 10px  rgba(0,0,0,.5), inset 0 0 0 60px rgba(0,0,0,0), 0 1px rgba(255,255,255,.08);
    background-color: #32A932;
}

.edit_window{
    position: absolute;
    width: 102px;
    height: 80px;
    display: none;
    right: 102%;
    bottom: 0;
    text-align: left;
    justify-content: flex-end;
}


.edit_text{
    border: none;
    outline: none;
    background: ghostwhite;
    height: 100%;
    padding: 5px;
    border-radius: 6px;
    flex-grow: 1;

    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

.button_header{
    display: block;
    padding: 15px 5px;
}

.page_buttons{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 5px;
}

.page_button, .page_button_current{
    margin: 5px;
    padding: 0 10px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 4px;
    text-decoration: none;
    font-family: "Roboto Slab", sans-serif;
    line-height: 30px;
    background-color: ghostwhite;
    color: black;
}

.page_button:active{
    box-shadow: inset 0 1px 3px 1px  rgba(0,0,0,.5), inset 0 0 0 60px rgba(0,0,0,0), 0 1px rgba(255,255,255,.08);
    background-color: #32A932;
    color: ghostwhite;
}

.page_button_current{
    box-shadow: inset 0 1px 3px 1px  rgba(0,0,0,.5), inset 0 0 0 60px rgba(0,0,0,0), 0 1px rgba(255,255,255,.08);
}

.add{
    display: flex;
}

.task_text_field{
    margin: 5px;
    padding: 5px 10px;
    border-radius: 6px;
    font-family: "Roboto Slab", sans-serif;
    font-size: 16px;
    border: solid darkgray 1px;
    flex-grow: 1;
}

.add_button{
    width: 160px;
    margin: 5px;
    padding: 5px 10px;
    background-color: limegreen;
    border-radius: 6px;
    text-decoration: none;
    font-family: "Roboto Slab", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
    color: ghostwhite;
    border: solid darkgray 1px;
}

.add_button:active{
    box-shadow: inset 0 1px 3px 1px  rgba(0,0,0,.5), inset 0 0 0 60px rgba(0,0,0,0), 0 1px rgba(255,255,255,.08);
    background-color: #32A932;
}

.add_button:hover{
    background-color: #32A932;
}

.add .reset{
    background-color: indianred;
}

.add .reset:hover{
    background-color: #E26060;
}

.footer{
    flex: 0 0 auto;
    background: linear-gradient(rgb(70,70,70), rgb(120,120,120));
    padding: 20px 0;
    color: ghostwhite;
    font-size: 30px;
    font-family: Audiowide, sans-serif;
    text-align: center;
}

.footer .block{
    display: inline-block;
    width: 300px;
    padding: 15px;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: inset 0 2px 10px 1px rgba(30, 30, 30, 0.24), inset 0 0 0 70px rgba(30,30,30,.3), 0 1px rgba(255,255,255,.08);
}

.footer .icons{
    display: flex;
    justify-content: center;
}
.footer a{
    margin: 10px auto 0;
}

.footer img{
    border-radius: 15px;
}

.clearfix:after{
    content: "";
    display: block;
    clear: both;
}