* {
    margin: 0;
    padding: 0;
}

body {
    background: url(../images/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.mainWrapper {
    max-width: 960px;
    min-width: 480px;
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
}

.formWrapper {
    background-color: white;
    padding-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.4);
    text-align: center;
    width: 320px;
    height: 320px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -160px 0 0 -160px;
}

.btn {
    border: 0;
    border-radius: 2px;
    padding: 10px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
    height: 33px;
    margin: 0 3px 0 3px;
    width: 90px;
}

.btn:hover {
    opacity: 0.8;
}

.brown {
    color: white;
    background-color: #665851;
}

form {
    position: absolute;
    left: 10px;
    top: 100px;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginMessage {
    background-color: #665851;
    border-radius: 5px 5px 0 0;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 62px;
    height: 62px;
}

.form-title {
    color: white;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5em;
    background-color: #665851;
}

.formWrapper label {
    font-weight: 700;
    font-size: .8em;
    color: #888;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 2em;
}

.formWrapper input:not([type="submit"]) {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: .9em;
    color: #888;
}

.register-wrap{
    z-index: 99;
    transform: perspective(100px) translate3d(100px, 0px, -30px);
    opacity: 0.5;
}

.login-wrap {
    z-index: 100;
}

.active-dx{
    animation-name: foregrounding-dx;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

.active-sx{
    animation-name: foregrounding-sx;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

.inactive-dx{
    animation-name: overshadowing-dx;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

.inactive-sx{
    animation-name: overshadowing-sx;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

@keyframes overshadowing-dx {
    0%{
        z-index:2;
        transform: perspective(100px) translate3d(0px, 0px, 0px);
        opacity: 1;
        box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
    }
    100%{
        z-index: 1;
        transform: perspective(100px) translate3d(100px, 0px, -30px);
        opacity: 0.5;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
    }
}

@keyframes overshadowing-sx {
    0%{
        z-index:2;
        transform: perspective(100px) translate3d(0px, 0px, 0px);
        opacity: 1;
        box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
    }
    100%{
        z-index: 1;
        transform: perspective(100px) translate3d(-100px, 0px, -30px);
        opacity: 0.5;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
    }
}

@keyframes foregrounding-dx {
    0%{
        z-index:1;
        transform: perspective(100px) translate3d(100px, 0px, -30px);
        opacity: 0.5;
    }
    50%{
        z-index:2;
        transform: perspective(100px) translate3d(400px, 0px, -30px);
    }
    100%{
        z-index:2;
        transform: perspective(100px) translate3d(0px, 0px, 0px);
        opacity: 1;
    }
}

@keyframes foregrounding-sx {
    0%{
        z-index:1;
        transform: perspective(100px) translate3d(-100px, 0px, -30px);
        opacity: 0.5;
    }
    50%{
        z-index:2;
        transform: perspective(100px) translate3d(-400px, 0px, -30px);
    }
    100%{
        z-index:2;
        transform: perspective(100px) translate3d(0px, 0px, 0px);
        opacity: 1;
    }
}