<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page - Todo List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" th:href="@{/css/login.css}" rel="stylesheet"/>
</head>
<body>
<div id="mainWrapper" class="mainWrapper">
    <div id="login-wrap" class="formWrapper login-wrap">
        <div id="loginError" class="loginMessage">
                <span th:if="${param.error}">
                    Invalid username/password
                </span>
            <span th:if="${param.logout}">
                    You have been logged out
                </span>
        </div>
        <div class="form-title">Sign In</div>
        <form id="login-form" class="login-form" th:action="@{/login}" method="post">
            <label>Username</label>
            <input type="text" name="username" required/>
            <label>Password</label>
            <input type="password" name="password" required/>
            <div class="group">
                <button id="sign-up-button" class="btn btnInputSize brown" type="button">Sign Up</button>
                <button class="btn btnInputSize brown" type="submit">Log In</button>
            </div>
        </form>
    </div>
    <div id="register-wrap" class="formWrapper register-wrap">
        <div id="registerError" class="loginMessage"></div>
        <div class="form-title">Sign Up</div>
        <form id="register-form" class="register-form" method="post">
            <label>Username</label>
            <input type="text" name="username" required/>
            <label>Password</label>
            <input id="password-reg" type="password" onkeyup='validate();' name="password" required/>
            <label>Confirm Password</label>
            <input id="password-confirm-reg" type="password" onkeyup='validate();' name="passwordConfirm" required/>
            <div class="group">
                <button id="back-to-login-button" class="btn btnInputSize brown" type="button">Back</button>
                <button class="btn btnInputSize brown" type="submit">Register</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/login.js}"></script>
</body>
</html>